<div class="horizontal">
  <div class="table shadow">

  {{#each cats }}
    <article style="background-image: url({{ image }})">
    	<div class="front-cat-text shadow">
    		<h1>{{ name }}</h1>
        <h3>{{ age }}</h3>
        <h4>{{ colors }}</h4>
    	</div>
    </article>
  {{/each }}
  </div>
</div>