<div id="choices">
	<div class="circle-big shadow" id="new-cat">
		<a class="divLink" href="/cats/new"></a>
		<div class="hover-text shadow">New cat!</div>
	</div>
	<div class="circle-big shadow" id="list-cats">
		<a class="divLink" href="/cats"></a>
		<div class="hover-text shadow">See the cats!</div>
	</div>
	<div class="circle-big shadow" id="send-old">
		<a class="divLink" href="/cats/delete/old"></a>
		<div class="hover-text shadow">Bye cat!</div>
	</div>
</div>