<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>kitticat</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
</head>
<body>
  {{{body}}}

  <div class="footer">
  	Copyright 2015 H. David Zhu
  </div>
</body>
</html>