<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>kitticat</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
</head>
<body>
  {{{body}}}

  <a target="_blank" href="http://hdavidzhu.github.io/"><div class="footer">David Zhu 2015</div></a>
</body>
</html>